footer
{
	background-color: #000000;
	color:#ffffff;
	height: 80px;
}

.content
{
	height:1000px;
}

.copyright
{
	text-align: center;
	align-items: center;
	margin-left: 200px;
	float: left;
	position:relative;
	top:25px;
}

.social-icons
{
	text-align: center;
	align-items: center;
	margin-right: 200px;
	float: right;
	position: relative;
	top:25px;
}